<template lang="pug">
  .item-overview
    ItemList(:character="characters[id]")
</template>

<script>
// @ is an alias to /src
import ItemList from '@/vue/components/ItemList.vue';
import { mapGetters } from 'vuex';
import * as R from 'ramda';

export default {
  name: 'character',
  components: {
    ItemList,
  },
  computed: {
    ...mapGetters({
      characters: 'user/characters',
    }),
    id() {
      return R.isEmpty(this.$route.params.id) ? Object.keys(this.characters)[0] : this.$route.params.id;
    }
  },
};
</script>
<style lang="stylus">
.item-overview
  padding-left .5rem
  padding-right .5rem
  overflow-y hidden
  overflow-x scroll
  height inherit

</style>
