<template lang="pug">
  .item(:data-id="item.itemHash" @click="onClick")
    img.icon(v-if="item.definition.displayProperties.icon" :src="`https://www.bungie.net${item.definition.displayProperties.icon}`")
    .container
      p.name {{ item.definition.displayProperties.name }}
      p.description(:class="{hidden:hide}") {{ item.definition.displayProperties.description }}
      .missions(v-if="hide && itemObjective")
        DisplayObjective(v-for="objective in itemObjective" :key="objective.objectiveHash" :objective="objective")
    .missions.missions-pad(v-if="!hide && itemObjective")
      DisplayObjective(v-for="objective in itemObjective" :key="objective.objectiveHash" :objective="objective")
</template>

<script>
import { mapGetters } from 'vuex';
import DisplayObjective from '@/vue/components/DisplayObjective';

export default {
  name: 'DisplayItem',
  components: { DisplayObjective },
  props: {
    item: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      hide: true,
    };
  },
  computed: {
    ...mapGetters({
      instanceGetter: 'items/instance',
      objectiveGetter: 'items/incompleteObjectives',
    }),
    itemInstance() {
      return this.item.itemInstanceId && this.instanceGetter(this.item.itemInstanceId);
    },
    itemObjective() {
      return this.item.itemInstanceId && this.objectiveGetter(this.item.itemInstanceId);
    },
  },
  methods: {
    onClick() {
      this.hide = !this.hide;
    },
  },
};
</script>

<style lang="stylus">
@import "~@/stylus/variables/index.styl"
.item
  width $item-width
  margin-top .5rem
  margin-right .5rem
  display grid
  grid-template-areas 'icon container' 'missions missions'
  grid-template-columns 4rem 1fr
  row-gap .5rem
  border-radius 8px
  background-color lighten($surface-color, 8%)

  .icon
    width 4rem
    grid-area icon
    border-radius 8px 0 0 0

  .container
    grid-area container
    padding $item-padding $item-padding 0

    p
      margin 0
      margin-bottom .5rem

      &.hidden
        display none

      &.description
        font-size .85rem

  .missions
    display grid
    grid-auto-flow row
    grid-gap .5rem
    grid-area missions
    &-pad
      padding $item-padding
</style>
