<template lang="pug">
  .character(:style="{'background-image': `url(https://www.bungie.net${character.emblemBackgroundPath})`, 'background-color': emblemColor}")
    .top
      span.class {{ character.class.displayProperties.name }}
    .bottom
      span.light {{ character.light }}
</template>

<script>
export default {
  name: 'DisplayCharacter',
  props: {
    character: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    emblemColor() {
      let color = this.character.emblemColor;
      return `rgba(${color.red}, ${color.green}, ${color.blue}, ${color.alpha})`
    }
  }
};
</script>

<style scoped lang="stylus">
@import '~@/stylus/variables/index.styl'

.character
  display flex
  flex-direction column
  background-repeat no-repeat
  background-size cover
  width 15em
  height 3em
  padding .5em .5em .5em 4em
  box-sizing border-box
  color white
  text-shadow 1px 1px 2px $shadow-color

  .top
    font-size 1em

  .bottom
    font-size .75em

    .light
      color $destiny-light-color
</style>
