<template lang="pug">
  .objective
    .progress(:style="{width: percentage}")
    span.name {{ objective.objective.displayProperties.name || objective.objective.displayProperties.description || objective.objective.progressDescription }}
    span.percentage {{ this.objective.progress }}/{{ this.objective.completionValue }}
</template>

<script>
export default {
  name: 'DisplayObjective',
  props: {
    objective: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    percentage() {
      return `${ (this.objective.progress / this.objective.completionValue * 100).toFixed(1) }%`;
    },
  },
};
</script>

<style lang="stylus">
@import '~@/stylus/variables/index.styl'
.objective
  width 100%
  width -webkit-fill-available
  position relative
  height 1.5rem
  border-radius 5px
  background-color #333333

  .progress
    position absolute
    top 0
    left 0
    bottom 0
    background-color $progress-color
    border-radius 5px

  span
    display block
    z-index 100
    line-height 1.5rem
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

    &.name
      position absolute
      top 0
      left $item-padding
      width $item-width - 4 * $item-padding - $percentage-size

    &.percentage
      position absolute
      top 0
      right $item-padding
      text-align right

.container .objective span.name
  width $item-width - 4rem - 4 * $item-padding - $percentage-size

</style>
