<template lang="pug">
  #container
    .main
      button(@click="login" v-if="!isAuthorized") Login
      .profiles(v-else)
        template()
      select(v-model="membership")
        option(v-for="(membership) in accounts" :value="membership") {{ membership | bungieMembershipName }}
      button(@click="profile") Profile
      //li
      //  button(@click="manifest") Manifest
</template>

<script>
import { mapGetters } from 'vuex';
import { bungieMembershipType } from '@/lib/constants';
import { path } from 'ramda';

export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data() {
    return {
      membership: null,
    };
  },
  computed: {
    ...mapGetters({
      isAuthorized: 'user/isAuthorized',
      memberships: 'user/memberships',
    }),
    accounts() {
      return this.memberships.destinyMemberships;
    },
  },
  watch: {
    memberships: {
      immediate: true,
      handler(newValue) {
        if (!this.membership && newValue.destinyMemberships && newValue.destinyMemberships.length > 0) {
          this.membership = newValue.destinyMemberships[0];
        }
      },
    },
  },
  methods: {
    login() {
      this.$store.dispatch('user/authorize');
    },
    self() {
      this.$store.dispatch('user/getSelf');
    },
    profile() {
      this.$store.dispatch('user/profile', { type: this.membership.membershipType, id: this.membership.membershipId });
    },
    manifest() {
      this.$store.dispatch('user/manifest');
    },
  },
  filters: {
    bungieMembershipName(value) {
      return path([value.membershipType, 'name'],bungieMembershipType);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus" scoped>
#container
  display flex
  justify-content center
  align-content center
  height 100%

.main
  display flex
  flex-flow column
  width 20rem
</style>
