<template lang="pug">
  .items-list
    DisplayItem(v-for="item in items" :key="item.itemInstanceId" :item="item")

</template>

<script>
import { mapGetters } from 'vuex';
import DisplayCharacter from '@/vue/components/DisplayCharacter';
import DisplayItem from '@/vue/components/DisplayItem';
// import { ItemType } from '@/lib/constants';

// const FORBIDDEN_TYPES = [ItemType.Emblem];

export default {
  name: 'ItemList',
  components: { DisplayItem, DisplayCharacter },
  props: {
    character: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    ...mapGetters({
      itemGetter: 'items/items',
      objectiveGetter: 'items/incompleteObjectives',
    }),
    items() {
      return this.itemGetter(this.character.characterId)
          .filter(item => {
            if(!item.definition) {
              console.warn('MISSING ITEM DEFINITION', item)
              return false
            }
            return true;
            // return !FORBIDDEN_TYPES.includes(item.definition.itemType)
          })
          .filter(item => this.objectiveGetter(item.itemInstanceId).length > 0)
          // .sort((a, b) => {
          //   a.definition.
          // });
    },
  },
};
</script>

<style lang="stylus">
.items-list
  display flex
  flex-flow column wrap
  height 100%
  width fit-content
</style>
