@import 'variables/index.styl'
@import 'components/index.styl'

body, html
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  padding 0
  margin 0
  background $surface-color
  color white
  height 100%

.nav
  top 0
  height 3rem
  margin 0
  padding 0
  ul
    display flex
    list-style-type none
    margin 0
    padding 0
    background-color lighten($surface-color, 5%);

  li
    a, a:link
      text-decoration none
      line-height 1


    a.link, a.link:link
      text-align center
      display block
      font-size 1.5em
      font-weight 500
      color white
      padding .5em
      text-transform capitalize
      transition background-color 150ms

      &.small
        font-size 1em

      &.router-link-active, &:hover
        background-color $accent-color

    &.fill
      flex 1 1 auto
