<template lang="pug">
  #app
    header.nav
      ul
        li
          router-link.link(to="/") Home
        li(v-if="filters" @click="setTrait(null)")
          a.link(:class="{'router-link-active': selectedTrait === null}") All
        li(v-for="trait of filters" @click="setTrait(trait)")
          a.link(:class="{'router-link-active': selectedTrait === trait}") {{ traitDefinition[trait] }}
        li.fill
        template(v-if="isAuthorized")
          li
            a.icon.link(@click="logout")
              fa-icon(:icon="['fas', 'sign-out-alt']")
          li
            a.icon.link(@click="refresh" :class="{animate: refreshing}")
              fa-icon(:icon="['fas', 'sync']")
        li(v-for="(character, key) in characters" :key="key")
          router-link(:to="`/character/${key}`")
            DisplayCharacter(:character="character")
    router-view(style="overflow-y: auto;")
</template>
<script>
import * as R from 'ramda';
import { mapActions, mapGetters } from 'vuex';
import HelloWorld from '@/vue/components/HelloWorld';
import DisplayCharacter from '@/vue/components/DisplayCharacter';
import { library } from '@fortawesome/fontawesome-svg-core';
import { faSync, faSignOutAlt } from '@fortawesome/free-solid-svg-icons';
import { traitDefinition } from '@/lib/constants';

library.add(faSync);
library.add(faSignOutAlt);

export default {
  name: 'app',
  components: {
    HelloWorld,
    DisplayCharacter,
  },
  data() {
    return {
      refreshing: false,
      traitDefinition
    };
  },
  computed: {
    ...mapGetters({
      isAuthorized: 'user/isAuthorized',
      characters: 'user/characters',
      traits: 'items/activeObjectiveTypes',
      selectedTrait: 'items/trait',
    }),
    filters() {
      if(this.$route.name !== 'character') return null
      return Object.keys(traitDefinition);
    }
  },
  async created() {
    let query = this.$route.query;
    if (!R.isNil(query) && !R.isEmpty(query)) {
      await this.$store.dispatch('user/verifyAuthentication', query);
      await this.$router.replace('/');
    }
    if (this.isAuthorized) {
      await this.$store.dispatch('user/getSelf');
    }
  },
  methods: {
    ...mapActions({
      logout: 'user/logout',
    }),
    async refresh() {
      if (!this.refreshing) {
        this.refreshing = true;
        await this.$store.dispatch('user/refresh', this.$route);
        this.refreshing = false;
        // https://stackoverflow.com/a/13061553
        // full rotations only ?
      }
    },
    async setTrait(trait) {
      console.warn(trait);
      this.$store.dispatch('items/setTrait', trait)
    }
  },
  mounted() {
    setInterval(() => {
      if (this.isAuthorized) {
        this.refresh();
      }
    }, 120000);
  },
};
</script>
<style lang="stylus">
#app
  display: flex;
  flex-flow: column;
  height 100vh
  overflow-y hidden

.icon
  border-radius 50%
  transition transform .5s

.animate
  animation spin 2s infinite

@keyframes spin
  100%
    transform rotate(360deg)
</style>
